@import (less) '../../css/common.css';
.shadow(@c){
  box-shadow: 1px 1px 5px @c;
}
body {
  min-width: 1280px;
  height: 100%;
  overflow-x: visible;
}
header {
  height: 56px;
  padding: 0 72px 0 50px;
  background-color: #2189bf;
  .logo-box {
    float: left;
    margin-top: 8px;
  }
  .login-box {
    float: right;
    a {
      font-size: 12px;
      line-height: 56px;
      color: #fff;
      font-family: 'Adobe 黑体 Std R';
      transition: all .2s;
      &::before {
        content: ' ';
        display: inline-block;
        height: 16px;
        width: 15px;
        margin: 0 4px 0 0;
        background: url("imgs-task9/user-login-icon.png") center no-repeat;
        vertical-align: text-bottom;
      }
      &:hover {
        color: #f1f1f1;
      }
    }
  }
  .search-box {
    float: right;
    position: relative;
    input {
      width: 315px;
      height: 28px;
      margin: 14px 20px 14px 0;
      border-radius: 14px;
      border: none;
      text-indent: 38px;
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      display: block;
      position: absolute;
      top: 19px;
      left: 16px;
      width: 17px;
      height: 17px;
      background: url("imgs-task9/search-icon.png") center no-repeat;
    }
  }
}

.main-content {
  height: 100%;
}
.left-content {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  width: 260px;
  background-color: #2a2e3d;
  font-family: '黑体';
  .user-header {
    padding: 16px 0 0 45px;
  }
  .user-header img {
    padding: 2px;
    border: 1px solid #bababe;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 18px;
  }
  .user-name {
    display: inline-block;
    color: #f6f5f5;
    font-size: 16px;
  }
  .user-info {
    font-size: 0;
    padding: 0 0 20px 26px;
  }
  .collection,.fans {
    display: inline-block;
    font-size: 16px;
    color: #6e8095;
    margin-top: 24px;
    padding: 0 28px;
  }
  .collection {
    border-right: 1px solid #313545;
  }

  .navi {
    a {
      color: #6e8095;
    }
    ul {
      list-style: none;
      a {
        display: block;
        padding: 16px 0 12px 44px;
        transition: all .2s;
        &:hover {
          color: #ededef;
          background-color: #393d4e;
        }
        img {
          padding-right: 12px;
        }
      }
      .active {
        >a {
          color: #ededef;
        }
        background-color: #393d4e;
      }
    }
    .secend-navi {
      padding-left: 22px;
    }
    .third-navi {
      padding-left: 34px;
    }
  }
}

.right-content {
  position: fixed;
  left: 260px;
  top: 56px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: #ededec;
  .search-btn {
    button {
      border: none;
      background-color: #388ac1;
      padding: 5px 12px;
      margin-right: 110px;
      border-radius: 3px;
      color: #fff;
      //margin-top: (@box1-h - 29px - 16) /2;
      &:focus {
        outline: none;
      }
      &:active {
        background-color: #3077A7;
      }
    }
  }
  .pbc {
    padding-left: 30px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    p {
      font-size: 12px;
      font-family: '黑体';
      color: #aaa;
    }
    span:last-child {
      color: #6898c2;
    }
  }
  .main-msg-box {
    margin: 0 auto;
    min-width: 1031px;
    p {
      color: #aaa;
    }
  }
  .box1 {
    @media screen and (max-width: 1360px){
      & {
        height: @box1-h * 2;
      }
    }
    @media screen and (max-width: 980px){
      & {
        height: @box1-h * 3;
      }
    }
    @box1-h: 85px;
    height: @box1-h;
    margin: 20px 60px 10px;
    border: 1px solid #dcdde0;
    padding-top: 16px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    button {
      margin-top: (@box1-h - 29px - 16) /2;
    }
    .inquiry {
      width: 150px;
      vertical-align: top;
      font-size: 0;
      margin-left: 30px;
      p,select{
        display: inline-block;
        font-size: 12px;
        font-family:'黑体';
      }
    }
    .biz {
      vertical-align: top;
      width: 220px;
      select {
        width: 120px;
      }
    }
    .date-msg {
      vertical-align: top;
      min-width: 326px;
      font-size: 0;
      .item {
        display: inline-block;
        font-size: 12px;
        margin-right: 14px;
        & * {
          display: inline-block;
        }
      }
      .item4 select {
        width: 166px;
      }
      p {
        line-height: 39px;
      }
    }
    .buyer *,.seller *{
      display: inline-block;
    }
    .info {
      float: left;
    }
    .switch-btn {
      @h: 74px;
      height: @h;
      img {
        margin-top: (@h - 38px)/2px;
      }
    }
    select,input {
      color: #323333;
      padding: 4px 10px;
      margin: 3px 0 3px 16px;
      border: 2px solid #dcdde0;
      &:focus {
        outline: none;
      }
    }
  }
  .box2 {
    position: relative;
    margin: 0 60px 22px;
    font-size: 0;
    .button {
      display: inline-block;
      width: 5%;
      height: 65px;
      .button-wrap {
        background-color: #fff;
        .shadow(#ced0d4);
      }
      i {
        margin: 0 auto;
        display: block;
        width: 31px;
        height: 65px;
      }
      &.left i{
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAARCAMAAADT/c3XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEUAAACqqqqrq6qrq6qrq6qqqqqqqqqrqqqrq6qrqqqqqqqrqqqrq6urqqqrq6urq6uqqqqrqqqqqqqqqqqqqqqrq6uqqqqqqqqqqqqqqqqrqqqrq6urqqqrqqqrq6urq6qqqqoAAAC9rVpmAAAAIXRSTlMABnGx8ArwNgaxNgax8DYGsYn7N1P8lgFa/AFa/JaW7g9bCyYNAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAFNJREFUCNdtykkSgCAMRNFEEcF5AkWc7n9KF0ksFvbqVdcHoGGGolwVIl2SjNUVqbaKZZqWhVZ3pH6QDsZpZsHi/CreQmLnd3E8zvT/78P1Od7PCwZ1BAgjOGppAAAAAElFTkSuQmCC") center no-repeat;
      }
      &.right i{
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAARCAMAAADT/c3XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAY1BMVEUAAACqqqqrqqqqqqqrq6uqqqqqqqqrq6qrqqqrqqqrq6uqqqqrq6qrqqqqqqqrq6qrqqqrq6uqqqqqqqqrq6uqqqqrqqqqqqqrqqqrq6urq6qrq6urqqqrq6urq6qqqqoAAAC/xnvXAAAAIHRSTlMAQz96+U0DpPlNA6RNA/mtFCPjyAgj4w8jDw/jyMiGwgqd+R0AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAV0lEQVQI103M3RZAIBAE4EWKoijlp/D+b+miXbVX35k5s9C0QNexnsjFMJKlYsWCTeS5yrnSlcsfafSCXK3bsnxwe9YR3Pm3FyomzLxNmPl44wKeF1v4APyNA9Ctf3+TAAAAAElFTkSuQmCC") center no-repeat;
      }
    }
    .content-wrap {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      width: 75%;
    }
    .item {
      display: inline-block;
      box-sizing: border-box;
      width: 16.66666%;
      padding: 0 4px;
      text-align: center;
      .content {
        height: 61px;
        border-top: 4px solid transparent;
        background-color: #fff;
        .shadow(#ced0d4);
      }
      &.active .content {
        border-top: 4px solid #4389c9;
      }
      p:first-child {
        line-height: 28px;
        font-size: 12px;
        color: #323333;
      }
      span {
        color: #ec6500;
        font-size: 21px;
        font-family: 'Microsoft YaHei';
      }
    }
    .inquiry-history {
      display: inline-block;
      width: 15%;
      height: 65px;
      transition: all .3s;
      text-align: center;
      .content {
        margin: 0 0 0 12px;
        background-color: #fff;
        .shadow(#ced0d4);
      }
      &:hover {
        background-color: #f8f8f8;
      }
      p {
        display: inline-block;
        font-size: 12px;
        line-height: 65px;
        color: #535353;
        vertical-align: top;
      }
      i {
        display: inline-block;
        margin-right: 18px;
        width: 32px;
        height: 65px;
        background: url("imgs-task9/calendar-icon.png") center no-repeat;
      }
    }
  }
  .box3 {
    .bd-l(@c) {
      border-left: 4px solid @c;
    }
    .img-bg(@c) {
      background-color: @c;
    }
    margin: 0 60px 16px;
    font-size: 0;
    .title {
      margin-bottom: 7px;
      color: #323333;
      font-family: 'Microsoft YaHei';
      h2 {
        font-size: 12px;
      }
    }
    .content {
      box-sizing: border-box;
      display: inline-block;
      width: 23%;
      height: 71px;
      margin-right: 2.6666%;
      padding: 13px 16px 0 8px;
      background-color: #fff;
      font-family: '黑体';
      border-radius: 2px 4px 4px 2px;
      .shadow(#ccc);
      &:last-child {
        margin-right: 0;
      }
      .img {
        float: right;
        width: 60px;
        height: 45px;
      }
      h3 {
        font-size: 12px;
        font-weight:500;
        color: #323333;
        margin-top: 4px;
      }
      p {
        font-size: 10px;
        color: #aaa;
        margin-top: 10px;
      }
    }
    .item1 {
      .bd-l(#43b29d);
      .img {
        .img-bg(#43b29d);
      }
    }
    .item2 {
      .bd-l(#388bc2);
      .img {
        .img-bg(#388bc2);
      }
    }
    .item3 {
      .bd-l(#d04b36);
      .img {
        .img-bg(#d04b36);
      }
    }
    .item4 {
      .bd-l(#e2cd46);
      .img {
        .img-bg(#e2cd46);
      }
    }
  }
  .box4 {
    font-size: 0;
    margin: 0 60px 8px;
    box-sizing: border-box;
    .table,.form {
      height: 357px;
      font-size: 12px;
      background-color: #fff;
      border-radius: 6px 6px 8px 8px;
      border: 1px solid #d0d2d6;
    }
    .table {
      width: 59%;
      .content {
        padding: 12px 20px 0;
        li {
          display: inline-block;
        }
        ul{
          z-index: 1;
          a {
            position: relative;
            bottom: -1px;
            z-index: 0;
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid #fff;
            border-radius: 4px 4px 0 0;
            width: 85px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            color: #535353;
            font-size: 12px;
            font-family: 'Microsoft YaHei';
            background-color: #ededf0;
          }
          .active {
            a{
              position: relative;
              bottom: -3px;
              z-index: 10;
              border: 2px solid #d9dada;
              border-bottom: 4px solid #fff;
              background-color: #fff;
            }
          }
        }
      }
    }
    .form {
      float: right;
      width: 39%;
      .content {
        padding: 12px 35px 0;
        input[type=text],textarea {
          width: 100%;
          height: 32px;
          border: 1px solid transparent;
          border-bottom: 1px solid #e8e8e8;
          padding: 0 16px;
          box-sizing: border-box;
          resize: none;
          transition: all .2s;
          &:focus {
            outline: none;
            border-bottom: 1px solid #388bc2;
          }
        }
        textarea {
          height: 126px;
        }
        input[type=checkbox] {
          margin-right: 8px;
          vertical-align: text-bottom;
        }
        h4,label {
          font-weight: 500;
          color: #c3c2c2;
          line-height: 21px;
          margin-left: 16px;
        }
        .item {
          width: 100%;
          font-size: 0;
          .ib {
            width: 49.5%;
            font-size: 12px;
          }
          span {
            position: absolute;
            left: 16px;
            bottom: 8px;
          }
        }
        .price {
          position: relative;
          border-right: 1px solid #e8e8e8;
          input {
            text-indent: 1.5em;
          }
        }
        .search-btn {
          text-align: right;
          button {
            margin-right: 0;
          }
        }
      }
    }
    .title {
      height: 41px;
      line-height: 41px;
      font-family: '黑体';
      background-color: #f3f5f6;
      border-radius: 6px 6px 0 0;
      border-bottom: 1px solid #e7e9eb;
      h4 {
        padding-left: 20px;
        font-weight: 500;
        color: #aaa;
      }
    }
    .table-wrap {
      position: relative;
      z-index: 2;
      padding: 28px 35px 36px;
      border: 2px solid #d9dada;
      border-radius: 0 5px 5px 5px;
      table {
        width: 100%;
        text-align: center;
        th,td {
          font-family: '宋体';
          line-height: 30px;
          font-weight: 500;
          border: 1px solid #ddddde;
        }
      }
    }
  }
  .box5 {
    font-size: 0;
    margin: 0 60px 156px;
    .calendar,.ranking {
      height: 411px;
      font-size: 12px;
      border: 1px solid #d0d2d6;
      border-radius: 6px 6px 8px 8px;
      background-color: #fff;
    }
    .title {
      height: 41px;
      line-height: 41px;
      font-family: '黑体';
      background-color: #f3f5f6;
      border-radius: 6px 6px 0 0;
      border-bottom: 1px solid #e7e9eb;
      h4 {
        padding-left: 20px;
        font-weight: 500;
        color: #aaa;
      }
    }
    .calendar {
      width: 39.3%;
      table {
        width: 100%;
        thead {
          border-top: 1px solid #a9cfec;
          border-bottom: 1px solid #e1e1e2;
          th {
            line-height: 29px;
            font-weight: 500;
            color: #535353;
            font-family: '黑体';
          }
        }
        tbody {
          text-align: center;
          .active {
            border: 2px solid #f5c732;
          }
          td {
            width: 14.28%;
            padding: 8px 0;
          }
          h4,p {

          }
          span {
            color: #cd3539;
          }
          tr{
            td:nth-child(6),td:nth-child(7) {
              h4 {
                color: #cd3539;
              }
            }
          }
        }
      }
    }
    .ranking {
      float: right;
      width: 59.5%;
      table {
        width: 100%;
        tr {
          transition: all .3s;
          td {
            border: 1px solid #c5c6c6;
            text-align: center;
            line-height: 29px;
            &:last-child {
              width: 50%;
            }
          }
          &:hover {
            background-color: #f4f5f7;
          }
        }
      }
      p {
        display: inline-block;
        color: #323333;
      }
      .line {
        width: 169px;
        display: inline-block;
        height: 4px;
        background-color: #dcdcdc;
        vertical-align: middle;
        position: relative;
        p {
          position: absolute;
          left: 0;
          height: 4px;
          background-color: #7fcbf0; //默认色
        }
      }
    }
    .content {
      background-color: #fff;
      border-radius: 0 0 8px 8px;
      padding: 11px 18px 21px;
    }
    .btn-box {
      display: flex;
      justify-content: space-around;
      padding-bottom: 10px;
      select,button {
        border: 1px solid #cacbcb;
        height: 28px;
        padding: 0 8px;
        background-color: #fff;
        transition: all .3s;
      }
      select {
        &:focus {
          outline: none;
          border: 1px solid #388bc2;
        }
      }
      button {
        &:focus {
          outline:none;
        }
        &:active {
          outline: none;
          border: 1px solid #388bc2;
          background-color: #efefef;
        }
      }
    }
  }
}
