/*reset.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #e74f4d;
  transition: color 0.2s;
}
img {
  border: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
/*other*/
.fr {
  float: right;
}
.cl {
  clear: both;
}
.ib {
  display: inline-block;
}
.table-wrap th {
  background-color: #ddd;
  position: relative;
}
.table-wrap th .up {
  top: -2px;
  border-color: transparent transparent #fff transparent;
}
.table-wrap th .up:active {
  border-color: transparent transparent #ccc transparent;
}
.table-wrap th .down {
  bottom: -2px;
  border-color: #fff transparent transparent transparent;
}
.table-wrap th .down:active {
  border-color: #ccc transparent transparent transparent;
}
.table-wrap th .up,
.table-wrap th .down {
  right: 1px;
  border-width: 8px;
  content: ' ';
  position: absolute;
  display: block;
  border-style: solid;
  z-index: 10000;
  cursor: pointer;
}
.table-wrap th,
.table-wrap td {
  padding: 8px 20px 8px 12px;
  border: 1px solid #ccc;
}
