/*reset.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  color: #e74f4d;
  transition: color 0.2s;
}
img {
  border: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
/*other*/
.fr {
  float: right;
}
.cl {
  clear: both;
}
.ib {
  display: inline-block;
}
body {
  min-width: 1280px;
  height: 100%;
  overflow-x: visible;
}
header {
  height: 56px;
  padding: 0 72px 0 50px;
  background-color: #2189bf;
}
header .logo-box {
  float: left;
  margin-top: 8px;
}
header .login-box {
  float: right;
}
header .login-box a {
  font-size: 12px;
  line-height: 56px;
  color: #fff;
  font-family: 'Adobe 黑体 Std R';
}
header .login-box a::before {
  content: ' ';
  display: inline-block;
  height: 16px;
  width: 15px;
  margin: 0 4px 0 0;
  background: url("imgs-task9/user-login-icon.png") center no-repeat;
  vertical-align: text-bottom;
}
header .search-box {
  float: right;
  position: relative;
}
header .search-box input {
  width: 315px;
  height: 28px;
  margin: 14px 20px 14px 0;
  border-radius: 14px;
  border: none;
  text-indent: 38px;
}
header .search-box input:focus {
  outline: none;
}
header .search-box .search-icon {
  display: block;
  position: absolute;
  top: 19px;
  left: 16px;
  width: 17px;
  height: 17px;
  background: url("imgs-task9/search-icon.png") center no-repeat;
}
.main-content {
  height: 100%;
}
.left-content {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  width: 260px;
  background-color: #2a2e3d;
  font-family: '黑体';
}
.left-content .user-header {
  padding: 16px 0 0 45px;
}
.left-content .user-header img {
  padding: 2px;
  border: 1px solid #bababe;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 18px;
}
.left-content .user-name {
  display: inline-block;
  color: #f6f5f5;
  font-size: 16px;
}
.left-content .user-info {
  font-size: 0;
  padding: 0 0 20px 26px;
}
.left-content .collection,
.left-content .fans {
  display: inline-block;
  font-size: 16px;
  color: #6e8095;
  margin-top: 24px;
  padding: 0 28px;
}
.left-content .collection {
  border-right: 1px solid #313545;
}
.left-content .navi a {
  color: #6e8095;
}
.left-content .navi ul {
  list-style: none;
}
.left-content .navi ul a {
  display: block;
  padding: 16px 0 12px 44px;
  transition: all .2s;
}
.left-content .navi ul a:hover {
  color: #ededef;
  background-color: #393d4e;
}
.left-content .navi ul a img {
  padding-right: 12px;
}
.left-content .navi ul .active {
  background-color: #393d4e;
}
.left-content .navi ul .active > a {
  color: #ededef;
}
.left-content .navi .secend-navi {
  padding-left: 22px;
}
.left-content .navi .third-navi {
  padding-left: 34px;
}
.right-content {
  position: fixed;
  left: 260px;
  top: 56px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: #ededec;
}
.right-content .search-btn button {
  border: none;
  background-color: #388ac1;
  padding: 5px 12px;
  margin-right: 110px;
  border-radius: 3px;
  color: #fff;
}
.right-content .search-btn button:focus {
  outline: none;
}
.right-content .search-btn button:active {
  background-color: #3077A7;
}
.right-content .pbc {
  padding-left: 30px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
}
.right-content .pbc p {
  font-size: 12px;
  font-family: '黑体';
  color: #aaa;
}
.right-content .pbc span:last-child {
  color: #6898c2;
}
.right-content .main-msg-box {
  margin: 0 auto;
  min-width: 1031px;
}
.right-content .main-msg-box p {
  color: #aaa;
}
.right-content .box1 {
  height: 85px;
  margin: 20px 60px 10px;
  border: 1px solid #dcdde0;
  padding-top: 16px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 1360px) {
  .right-content .box1 {
    height: 170px;
  }
}
@media screen and (max-width: 980px) {
  .right-content .box1 {
    height: 255px;
  }
}
.right-content .box1 button {
  margin-top: 20px;
}
.right-content .box1 .inquiry {
  width: 150px;
  vertical-align: top;
  font-size: 0;
  margin-left: 30px;
}
.right-content .box1 .inquiry p,
.right-content .box1 .inquiry select {
  display: inline-block;
  font-size: 12px;
  font-family: '黑体';
}
.right-content .box1 .biz {
  vertical-align: top;
  width: 220px;
}
.right-content .box1 .biz select {
  width: 120px;
}
.right-content .box1 .date-msg {
  vertical-align: top;
  min-width: 326px;
  font-size: 0;
}
.right-content .box1 .date-msg .item {
  display: inline-block;
  font-size: 12px;
  margin-right: 14px;
}
.right-content .box1 .date-msg .item * {
  display: inline-block;
}
.right-content .box1 .date-msg .item4 select {
  width: 166px;
}
.right-content .box1 .date-msg p {
  line-height: 39px;
}
.right-content .box1 .buyer *,
.right-content .box1 .seller * {
  display: inline-block;
}
.right-content .box1 .info {
  float: left;
}
.right-content .box1 .switch-btn {
  height: 74px;
}
.right-content .box1 .switch-btn img {
  margin-top: 18px;
}
.right-content .box1 select,
.right-content .box1 input {
  color: #323333;
  padding: 4px 10px;
  margin: 3px 0 3px 16px;
  border: 2px solid #dcdde0;
}
.right-content .box1 select:focus,
.right-content .box1 input:focus {
  outline: none;
}
.right-content .box2 {
  position: relative;
  margin: 0 60px 22px;
  font-size: 0;
}
.right-content .box2 .button {
  display: inline-block;
  width: 5%;
  height: 65px;
}
.right-content .box2 .button .button-wrap {
  background-color: #fff;
  box-shadow: 1px 1px 5px #ced0d4;
}
.right-content .box2 .button i {
  margin: 0 auto;
  display: block;
  width: 31px;
  height: 65px;
}
.right-content .box2 .button.left i {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAARCAMAAADT/c3XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEUAAACqqqqrq6qrq6qrq6qqqqqqqqqrqqqrq6qrqqqqqqqrqqqrq6urqqqrq6urq6uqqqqrqqqqqqqqqqqqqqqrq6uqqqqqqqqqqqqqqqqrqqqrq6urqqqrqqqrq6urq6qqqqoAAAC9rVpmAAAAIXRSTlMABnGx8ArwNgaxNgax8DYGsYn7N1P8lgFa/AFa/JaW7g9bCyYNAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAFNJREFUCNdtykkSgCAMRNFEEcF5AkWc7n9KF0ksFvbqVdcHoGGGolwVIl2SjNUVqbaKZZqWhVZ3pH6QDsZpZsHi/CreQmLnd3E8zvT/78P1Od7PCwZ1BAgjOGppAAAAAElFTkSuQmCC") center no-repeat;
}
.right-content .box2 .button.right i {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAARCAMAAADT/c3XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAY1BMVEUAAACqqqqrqqqqqqqrq6uqqqqqqqqrq6qrqqqrqqqrq6uqqqqrq6qrqqqqqqqrq6qrqqqrq6uqqqqqqqqrq6uqqqqrqqqqqqqrqqqrq6urq6qrq6urqqqrq6urq6qqqqoAAAC/xnvXAAAAIHRSTlMAQz96+U0DpPlNA6RNA/mtFCPjyAgj4w8jDw/jyMiGwgqd+R0AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAV0lEQVQI103M3RZAIBAE4EWKoijlp/D+b+miXbVX35k5s9C0QNexnsjFMJKlYsWCTeS5yrnSlcsfafSCXK3bsnxwe9YR3Pm3FyomzLxNmPl44wKeF1v4APyNA9Ctf3+TAAAAAElFTkSuQmCC") center no-repeat;
}
.right-content .box2 .content-wrap {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 75%;
}
.right-content .box2 .item {
  display: inline-block;
  box-sizing: border-box;
  width: 16.66666%;
  padding: 0 4px;
  text-align: center;
}
.right-content .box2 .item .content {
  height: 61px;
  border-top: 4px solid transparent;
  background-color: #fff;
  box-shadow: 1px 1px 5px #ced0d4;
}
.right-content .box2 .item.active .content {
  border-top: 4px solid #4389c9;
}
.right-content .box2 .item p:first-child {
  line-height: 28px;
  font-size: 12px;
  color: #323333;
}
.right-content .box2 .item span {
  color: #ec6500;
  font-size: 21px;
  font-family: 'Microsoft YaHei';
}
.right-content .box2 .inquiry-history {
  display: inline-block;
  width: 15%;
  height: 65px;
  transition: all .3s;
  text-align: center;
}
.right-content .box2 .inquiry-history .content {
  margin: 0 0 0 12px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #ced0d4;
}
.right-content .box2 .inquiry-history:hover {
  background-color: #f8f8f8;
}
.right-content .box2 .inquiry-history p {
  display: inline-block;
  font-size: 12px;
  line-height: 65px;
  color: #535353;
  vertical-align: top;
}
.right-content .box2 .inquiry-history i {
  display: inline-block;
  margin-right: 18px;
  width: 32px;
  height: 65px;
  background: url("imgs-task9/calendar-icon.png") center no-repeat;
}
.right-content .box3 {
  margin: 0 60px 16px;
  font-size: 0;
}
.right-content .box3 .title {
  margin-bottom: 7px;
  color: #323333;
  font-family: 'Microsoft YaHei';
}
.right-content .box3 .title h2 {
  font-size: 12px;
}
.right-content .box3 .content {
  box-sizing: border-box;
  display: inline-block;
  width: 23%;
  height: 71px;
  margin-right: 2.6666%;
  padding: 13px 16px 0 8px;
  background-color: #fff;
  font-family: '黑体';
  border-radius: 2px 4px 4px 2px;
  box-shadow: 1px 1px 5px #ccc;
}
.right-content .box3 .content:last-child {
  margin-right: 0;
}
.right-content .box3 .content .img {
  float: right;
  width: 60px;
  height: 45px;
}
.right-content .box3 .content h3 {
  font-size: 12px;
  font-weight: 500;
  color: #323333;
  margin-top: 4px;
}
.right-content .box3 .content p {
  font-size: 10px;
  color: #aaa;
  margin-top: 10px;
}
.right-content .box3 .item1 {
  border-left: 4px solid #43b29d;
}
.right-content .box3 .item1 .img {
  background-color: #43b29d;
}
.right-content .box3 .item2 {
  border-left: 4px solid #388bc2;
}
.right-content .box3 .item2 .img {
  background-color: #388bc2;
}
.right-content .box3 .item3 {
  border-left: 4px solid #d04b36;
}
.right-content .box3 .item3 .img {
  background-color: #d04b36;
}
.right-content .box3 .item4 {
  border-left: 4px solid #e2cd46;
}
.right-content .box3 .item4 .img {
  background-color: #e2cd46;
}
.right-content .box4 {
  font-size: 0;
  margin: 0 60px 8px;
  box-sizing: border-box;
}
.right-content .box4 .table,
.right-content .box4 .form {
  height: 357px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 6px 6px 8px 8px;
  border: 1px solid #d0d2d6;
}
.right-content .box4 .table {
  width: 59%;
}
.right-content .box4 .table .content {
  padding: 12px 20px 0;
}
.right-content .box4 .table .content li {
  display: inline-block;
}
.right-content .box4 .table .content ul {
  z-index: 1;
}
.right-content .box4 .table .content ul a {
  position: relative;
  bottom: -1px;
  z-index: 0;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 4px 4px 0 0;
  width: 85px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #535353;
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  background-color: #ededf0;
}
.right-content .box4 .table .content ul .active a {
  position: relative;
  bottom: -3px;
  z-index: 10;
  border: 2px solid #d9dada;
  border-bottom: 4px solid #fff;
  background-color: #fff;
}
.right-content .box4 .form {
  float: right;
  width: 39%;
}
.right-content .box4 .form .content {
  padding: 12px 35px 0;
}
.right-content .box4 .form .content input[type=text],
.right-content .box4 .form .content textarea {
  width: 100%;
  height: 32px;
  border: 1px solid transparent;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 16px;
  box-sizing: border-box;
  resize: none;
  transition: all .2s;
}
.right-content .box4 .form .content input[type=text]:focus,
.right-content .box4 .form .content textarea:focus {
  outline: none;
  border-bottom: 1px solid #388bc2;
}
.right-content .box4 .form .content textarea {
  height: 126px;
}
.right-content .box4 .form .content input[type=checkbox] {
  margin-right: 8px;
  vertical-align: text-bottom;
}
.right-content .box4 .form .content h4,
.right-content .box4 .form .content label {
  font-weight: 500;
  color: #c3c2c2;
  line-height: 21px;
  margin-left: 16px;
}
.right-content .box4 .form .content .item {
  width: 100%;
}
.right-content .box4 .form .content .item .ib {
  width: 49.5%;
}
.right-content .box4 .form .content .item span {
  position: absolute;
  left: 16px;
  bottom: 8px;
}
.right-content .box4 .form .content .price {
  position: relative;
  border-right: 1px solid #e8e8e8;
}
.right-content .box4 .form .content .price input {
  text-indent: 1.5em;
}
.right-content .box4 .form .content .search-btn {
  text-align: right;
}
.right-content .box4 .form .content .search-btn button {
  margin-right: 0;
}
.right-content .box4 .title {
  height: 41px;
  line-height: 41px;
  font-family: '黑体';
  background-color: #f3f5f6;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #e7e9eb;
}
.right-content .box4 .title h4 {
  padding-left: 20px;
  font-weight: 500;
  color: #aaa;
}
.right-content .box4 .table-wrap {
  position: relative;
  z-index: 2;
  padding: 28px 35px 36px;
  border: 2px solid #d9dada;
  border-radius: 0 5px 5px 5px;
}
.right-content .box4 .table-wrap table {
  width: 100%;
  text-align: center;
}
.right-content .box4 .table-wrap table th,
.right-content .box4 .table-wrap table td {
  font-family: '宋体';
  line-height: 30px;
  font-weight: 500;
  border: 1px solid #ddddde;
}
