/*reset.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  color: #e74f4d;
  transition: color 0.2s;
}
img {
  border: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
/*other*/
.fr {
  float: right;
}
.cl {
  clear: both;
}
.ib {
  display: inline-block;
}
body {
  min-width: 1280px;
  height: 100%;
}
header {
  height: 56px;
  padding: 0 72px 0 50px;
  background-color: #2189bf;
}
header .logo-box {
  float: left;
  margin-top: 8px;
}
header .login-box {
  float: right;
}
header .login-box a {
  font-size: 12px;
  line-height: 56px;
  color: #fff;
  font-family: 'Adobe 黑体 Std R';
}
header .login-box a::before {
  content: ' ';
  display: inline-block;
  height: 16px;
  width: 15px;
  margin: 0 4px 0 0;
  background: url("imgs-task9/user-login-icon.png") center no-repeat;
  vertical-align: text-bottom;
}
header .search-box {
  float: right;
  position: relative;
}
header .search-box input {
  width: 315px;
  height: 28px;
  margin: 14px 20px 14px 0;
  border-radius: 14px;
  border: none;
  text-indent: 38px;
}
header .search-box input:focus {
  outline: none;
}
header .search-box .search-icon {
  display: block;
  position: absolute;
  top: 19px;
  left: 16px;
  width: 17px;
  height: 17px;
  background: url("imgs-task9/search-icon.png") center no-repeat;
}
.main-content {
  height: 100%;
}
.left-content {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  width: 260px;
  background-color: #2a2e3d;
  font-family: '黑体';
}
.left-content .user-header {
  padding: 16px 0 0 45px;
}
.left-content .user-header img {
  padding: 2px;
  border: 1px solid #bababe;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 18px;
}
.left-content .user-name {
  display: inline-block;
  color: #f6f5f5;
  font-size: 16px;
}
.left-content .user-info {
  font-size: 0;
  padding: 0 0 20px 26px;
}
.left-content .collection,
.left-content .fans {
  display: inline-block;
  font-size: 16px;
  color: #6e8095;
  margin-top: 24px;
  padding: 0 28px;
}
.left-content .collection {
  border-right: 1px solid #313545;
}
.left-content .navi a {
  color: #6e8095;
}
.left-content .navi ul {
  list-style: none;
}
.left-content .navi ul a {
  display: block;
  padding: 16px 0 12px 44px;
  transition: all .2s;
}
.left-content .navi ul a:hover {
  color: #ededef;
  background-color: #393d4e;
}
.left-content .navi ul a img {
  padding-right: 12px;
}
.left-content .navi ul .active {
  background-color: #393d4e;
}
.left-content .navi ul .active > a {
  color: #ededef;
}
.left-content .navi .secend-navi {
  padding-left: 22px;
}
.left-content .navi .third-navi {
  padding-left: 34px;
}
.right-content {
  position: fixed;
  left: 260px;
  top: 56px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: #ededec;
}
.right-content .pbc {
  padding-left: 30px;
  height: 30px;
  background-color: #fff;
  line-height: 30px;
}
.right-content .pbc p {
  font-size: 12px;
  font-family: '黑体';
  color: #aaa;
}
.right-content .pbc span:last-child {
  color: #6898c2;
}
.right-content .main-msg-box {
  margin: 0 auto;
}
.right-content .main-msg-box p {
  color: #aaa;
}
.right-content .box1 {
  height: 85px;
  margin: 20px 60px 10px;
  border: 1px solid #dcdde0;
  padding-top: 16px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 1360px) {
  .right-content .box1 {
    height: 170px;
  }
}
@media screen and (max-width: 980px) {
  .right-content .box1 {
    height: 255px;
  }
}
.right-content .box1 .inquiry {
  width: 150px;
  vertical-align: top;
  font-size: 0;
  margin-left: 30px;
}
.right-content .box1 .inquiry p,
.right-content .box1 .inquiry select {
  display: inline-block;
  font-size: 12px;
  font-family: '黑体';
}
.right-content .box1 .biz {
  vertical-align: top;
  width: 220px;
}
.right-content .box1 .biz select {
  width: 120px;
}
.right-content .box1 .date-msg {
  vertical-align: top;
  min-width: 326px;
  font-size: 0;
}
.right-content .box1 .date-msg .item {
  display: inline-block;
  font-size: 12px;
  margin-right: 14px;
}
.right-content .box1 .date-msg .item * {
  display: inline-block;
}
.right-content .box1 .date-msg .item4 select {
  width: 166px;
}
.right-content .box1 .date-msg p {
  line-height: 39px;
}
.right-content .box1 .search-btn button {
  border: none;
  background-color: #388ac1;
  padding: 5px 12px;
  margin-right: 110px;
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
}
.right-content .box1 .search-btn button:focus {
  outline: none;
}
.right-content .box1 .search-btn button:active {
  background-color: #3077A7;
}
.right-content .box1 .buyer *,
.right-content .box1 .seller * {
  display: inline-block;
}
.right-content .box1 .info {
  float: left;
}
.right-content .box1 .switch-btn {
  height: 74px;
}
.right-content .box1 .switch-btn img {
  margin-top: 18px;
}
.right-content .box1 select,
.right-content .box1 input {
  color: #323333;
  padding: 4px 10px;
  margin: 3px 0 3px 16px;
  border: 2px solid #dcdde0;
}
.right-content .box1 select:focus,
.right-content .box1 input:focus {
  outline: none;
}
.right-content .box2 {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0 60px 10px;
  min-width: 1280px;
}
.right-content .box2 .button {
  width: 31px;
  height: 65px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #ced0d4;
}
.right-content .box2 .button i {
  display: block;
  width: 31px;
  height: 65px;
}
.right-content .box2 .button.left i {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAARCAMAAADT/c3XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEUAAACqqqqrq6qrq6qrq6qqqqqqqqqrqqqrq6qrqqqqqqqrqqqrq6urqqqrq6urq6uqqqqrqqqqqqqqqqqqqqqrq6uqqqqqqqqqqqqqqqqrqqqrq6urqqqrqqqrq6urq6qqqqoAAAC9rVpmAAAAIXRSTlMABnGx8ArwNgaxNgax8DYGsYn7N1P8lgFa/AFa/JaW7g9bCyYNAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAFNJREFUCNdtykkSgCAMRNFEEcF5AkWc7n9KF0ksFvbqVdcHoGGGolwVIl2SjNUVqbaKZZqWhVZ3pH6QDsZpZsHi/CreQmLnd3E8zvT/78P1Od7PCwZ1BAgjOGppAAAAAElFTkSuQmCC") center no-repeat;
}
.right-content .box2 .button.right i {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAARCAMAAADT/c3XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAY1BMVEUAAACqqqqrqqqqqqqrq6uqqqqqqqqrq6qrqqqrqqqrq6uqqqqrq6qrqqqqqqqrq6qrqqqrq6uqqqqqqqqrq6uqqqqrqqqqqqqrqqqrq6urq6qrq6urqqqrq6urq6qqqqoAAAC/xnvXAAAAIHRSTlMAQz96+U0DpPlNA6RNA/mtFCPjyAgj4w8jDw/jyMiGwgqd+R0AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAV0lEQVQI103M3RZAIBAE4EWKoijlp/D+b+miXbVX35k5s9C0QNexnsjFMJKlYsWCTeS5yrnSlcsfafSCXK3bsnxwe9YR3Pm3FyomzLxNmPl44wKeF1v4APyNA9Ctf3+TAAAAAElFTkSuQmCC") center no-repeat;
}
.right-content .box2 .content-wrap {
  margin: 0 4px;
  width: 702px;
  display: flex;
}
.right-content .box2 .item {
  width: 111px;
  height: 61px;
  border-top: 4px solid transparent;
  margin: 0 3px;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 5px #ced0d4;
}
.right-content .box2 .item.active {
  border-top: 4px solid #4389c9;
}
.right-content .box2 .item p:first-child {
  line-height: 28px;
  font-size: 12px;
  color: #323333;
}
.right-content .box2 .item span {
  color: #ec6500;
  font-size: 21px;
  font-family: 'Microsoft YaHei';
}
.right-content .box2 .inquiry-history {
  width: 131px;
  height: 65px;
  background-color: #fff;
  transition: all .3s;
  box-shadow: 1px 1px 5px #ced0d4;
}
.right-content .box2 .inquiry-history:hover {
  background-color: #f8f8f8;
}
.right-content .box2 .inquiry-history p {
  display: inline-block;
  font-size: 12px;
  line-height: 65px;
  color: #535353;
  vertical-align: top;
}
.right-content .box2 .inquiry-history i {
  display: inline-block;
  margin: 0 8px 0 18px;
  width: 32px;
  height: 65px;
  background: url("imgs-task9/calendar-icon.png") center no-repeat;
}
