/*reset.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #e74f4d;
  transition: color 0.2s;
}
img {
  border: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
/*other*/
.fr {
  float: right;
}
.cl {
  clear: both;
}
.ib {
  display: inline-block;
}
html {
  font-size: 20px;
}
.init {
  font-size: 0;
  text-align: center;
}
header {
  background-color: #91d4da;
  color: #fff;
  text-align: center;
  position: relative;
  line-height: 2.4rem;
}
header .back-btn {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 1rem;
}
header .back-btn:before {
  content: '<';
  font-size: 1.4rem;
}
header h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-box {
  font-size: 0;
  text-align: center;
}
.nav-box li {
  color: #4e4e4e;
  display: inline-block;
  width: 20%;
  font-size: .8rem;
  line-height: 2.4rem;
  border-bottom: 3px solid transparent;
}
.nav-box .active {
  border-bottom: 3px solid #91d4da;
}
.banner-box img {
  width: 100%;
}
.tag-box {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: .5rem 2%;
}
.tag-box li {
  color: #4e4e4e;
  display: inline-block;
  width: 19.2%;
}
.tag-box li p {
  font-size: .7rem;
  line-height: 2.4rem;
}
.subfield-box {
  font-size: 0;
  text-align: center;
}
.subfield-box .item {
  display: inline-block;
  width: 33%;
  margin-bottom: .8rem;
}
.subfield-box .item h3 {
  font-size: .9rem;
  line-height: 1.4rem;
  font-weight: 500;
}
.subfield-box .item h4 {
  font-size: .7rem;
  line-height: 1.2rem;
  font-weight: 500;
}
.subfield-box .mid {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.subfield-box::after {
  display: block;
  content: ' ';
  width: 100%;
  height: .6rem;
  background-color: #f5f5f5;
}
.module-box h2 {
  margin: 0 .8rem .9rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.1rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.module-box .item-box {
  margin: 0 .8rem .5rem;
  overflow: hidden;
}
.module-box .item-box img {
  float: left;
  box-sizing: border-box;
  width: 30%;
  border: 1px solid #fcc060;
}
.module-box .item-box .infos {
  float: right;
  width: 70%;
  font-size: 0;
}
.module-box .item-box .infos ul {
  margin-right: -0.4rem;
}
.module-box .item-box .infos li {
  width: 45%;
  margin: 0 0 .4rem .4rem ;
  background-color: #f8f8f8;
  box-sizing: border-box;
  font-size: .7rem;
  line-height: 2rem;
  text-align: center;
  display: inline-block;
}
.module-box::after {
  display: block;
  content: ' ';
  width: 100%;
  height: .6rem;
  background-color: #f5f5f5;
}
.article-box {
  padding-bottom: 3.3rem;
  background-color: #f8f8f8;
  font-size: 0;
}
.article-box .article1 {
  padding: .5rem 0;
  border-bottom: 1px solid #f3f3f3;
  background-color: #fff;
  position: relative;
}
.article-box .article1 img {
  box-sizing: border-box;
  padding: 0 .7rem;
  width: 35%;
}
.article-box .article1 .infos {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  box-sizing: border-box;
  padding-right: .5rem;
}
.article-box .article1 h2 {
  font-size: .9rem;
  font-weight: 500;
}
.article-box .article1 p {
  font-size: .6rem;
  color: #c5c5c5;
  position: absolute;
  bottom: .5rem;
  left: 35%;
}
.article-box .article2 {
  background: #fff;
  padding: 0 .6rem;
}
.article-box .article2 h2 {
  padding: 0 .1rem;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.article-box .article2 .img-box {
  text-align: center;
  margin-bottom: .3rem;
}
.article-box .article2 .img-box img {
  width: 33%;
  box-sizing: border-box;
  padding: 0 .1rem;
}
.article-box .article2 p {
  padding: 0 .1rem;
  font-size: .6rem;
  line-height: 1rem;
  color: #c5c5c5;
}
footer {
  text-align: center;
  background-color: #f8f8f8;
  padding-bottom: 1rem;
}
footer::before {
  content: ' ';
  display: block;
  width: 100%;
  border-top: 1px dotted #4e4e4e;
  position: relative;
  top: 0.5rem;
}
footer .content {
  display: inline-block;
  background-color: #f8f8f8;
}
footer p {
  background-color: #f8f8f8;
}
