/*reset.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,
th,
caption {
  font-size: 14px;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #e74f4d;
  transition: color 0.2s;
}
img {
  border: none;
}
input,
textarea,
select,
button {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
html {
  overflow-y: scroll;
}
/*other*/
.fr {
  float: right;
}
.cl {
  clear: both;
}
.ib {
  display: inline-block;
}
body {
  text-align: center;
}
table {
  margin: 0 auto 20px;
}
th,
td {
  padding: 4px 12px;
  border: 1px solid #fff;
}
tr:nth-child(2n+1) {
  background: #ccc;
}
tr:nth-child(-n+4) {
  color: #f00;
}
tr:first-child {
  background: #000;
  color: #fff;
}
input {
  display: inline-block;
  width: 50px;
  transition: width .5s,border .3s;
  border: 1px solid #ccc;
}
input:focus {
  width: 100px;
  border: 3px solid #c2cc58;
}
