body {
  min-width: 1280px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #e4e5e6;
}
.header-wrap {
  width: 98%;
  height: 57px;
  margin: 0 auto;
}
.logo-box {
  margin: 12px 0 4px 60px;
}
.logo-box h1 {
  font-size: 21px;
  font-family: '黑体';
  font-weight: 500;
  line-height: 31px;
  vertical-align: text-bottom;
  margin-left: 10px;
}
.user-box {
  float: right;
}
.login-btn {
  color: #e74f4d;
  font-family: 'Microsoft YaHei';
  line-height: 52px;
  margin: 0 67px 0 16px;
}
.login-btn::before {
  content: ' ';
  height: 17px;
  width: 14px;
  display: inline-block;
  background: url("imgs/login-btn-icon.png") center no-repeat;
  vertical-align: text-bottom;
  margin-right: 4px;
}
.navi-box {
  float: right;
  font-size: 0;
}
.navi-box li {
  display: inline-block;
  margin-right: 1px;
}
.navi-box a {
  display: inline-block;
  font-size: 14px;
  height: 52px;
  line-height: 52px;
  padding: 0 18px;
  border-bottom: 5px solid transparent;
  transition: all .2s;
}
.navi-box a:hover,
.navi-box .active {
  border-bottom: 5px solid #e74f4d;
}
/*banner-box*/
.banner-box {
  position: relative;
  height: 690px;
  overflow: hidden;
}
.bg-img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -100;
}
.banner-content-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 230px 0 0 10%;
  color: #fff;
}
.banner-content-box h2 {
  font-size: 60px;
  font-family: 'Microsoft YaHei';
  margin-bottom: 32px;
  font-weight: 500;
}
.banner-content-box h3 {
  font-size: 21px;
  line-height: 32px;
  font-weight: 500;
}
.banner-btn {
  margin-top: 60px;
  display: inline-block;
  width: 330px;
  height: 65px;
  background-color: #e74f4d;
  color: #fff;
  font-size: 30px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 4px;
  transition: all .3s;
}
.banner-btn:hover {
  background-color: #ce4645;
  color: #fff;
}
/*msg-box*/
.msg-box {
  height: 250px;
  margin: 0 auto;
  font-size: 0;
}
.msg-item {
  display: inline-block;
  width: 25%;
  height: 100%;
  text-align: center;
}
.msg-item p {
  font-size: 14px;
  line-height: 18px;
  color: #767777;
  font-family: '黑体';
  padding-bottom: 20px;
  border-right: 2px solid #989999;
}
.item4-icon + p {
  border-right: none;
}
.msg-item i {
  display: block;
  width: 42px;
  height: 42px;
  margin: 46px auto;
}
.item1-icon {
  background: url("imgs/round-icon.png") center no-repeat;
}
.item2-icon {
  background: url("imgs/flag-icon.png") center no-repeat;
}
.item3-icon {
  background: url("imgs/flower-icon.png") center no-repeat;
}
.item4-icon {
  background: url("imgs/box-icon.png") center no-repeat;
}
/*about-box*/
.about-box {
  background-color: #ededed;
  height: 360px;
  text-align: center;
}
.logo-large {
  display: block;
  width: 92px;
  height: 92px;
  margin: 0 auto 50px;
  padding-top: 90px;
  background: url("imgs/logo-large-icon.png") center bottom no-repeat;
}
.about-box p {
  font-size: 54px;
  line-height: 54px;
  color: #323333;
  opacity: 0.5;
}
/*map-box*/
.map-box {
  height: 340px;
  position: relative;
  overflow: hidden;
}
.map-box > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
}
.map-msg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(172, 52, 50, 0.2);
  text-align: center;
  color: #fff;
}
.map-msg h3 {
  font-size: 21px;
  font-family: 'Microsoft YaHei';
  font-weight: 500;
  padding-top: 52px;
}
.map-msg h3::after {
  content: ' ';
  display: block;
  width: 30px;
  border-bottom: 2px solid #fff;
  margin: 10px auto 20px;
}
.map-msg p {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  margin-bottom: 50px;
}
.select-box {
  font-size: 0;
}
.select-box select {
  display: inline-block;
  border: none;
  width: 230px;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  text-indent: 1em;
  margin: 0 15px;
}
.select-box select:focus {
  outline: 2px solid #be4e48;
}
.map-msg .search-btn {
  display: inline-block;
  width: 206px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  letter-spacing: 24px;
  padding-left: 24px;
  color: #fff;
  background-color: #be4e48;
  margin: 0 15px;
}
/*pic-box*/
.pic-box {
  height: 500px;
  padding-top: 100px;
  background-color: #f7f7f7;
  text-align: center;
}
.pic-wrap {
  display: inline-block;
  vertical-align: top;
}
.img-img1,
.img-img2,
.img-img3,
.img-img4 {
  height: 313px;
  width: 200px;
  padding: 12px 8px;
  margin: 0 20px 12px;
  background-color: #fff;
  border: 1px solid #dadada;
}
.pic-box i {
  display: block;
  height: 313px;
  width: 200px;
}
.img-img1 i {
  background: url("imgs/img-box-img.jpg") 0 0 no-repeat;
}
.img-img2 i {
  background: url("imgs/img-box-img.jpg") -254px 0 no-repeat;
}
.img-img3 i {
  background: url("imgs/img-box-img.jpg") -512px 0 no-repeat;
}
.img-img4 i {
  background: url("imgs/img-box-img.jpg") -768px 0 no-repeat;
}
.pic-content h3 {
  font-size: 15px;
  line-height: 22px;
}
.pic-content p {
  color: #9f9f9f;
  line-height: 24px;
}
.pic-wrap .active {
  font-size: 28px;
  letter-spacing: 24px;
  text-indent: 24px;
  font-weight: 500;
}
/*time-box*/
.time-box {
  height: 566px;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 0;
}
.time-box .more-btn {
  display: inline-block;
  border: 1px solid #e4666a;
  color: #e4666a;
  font-size: 12px;
  line-height: 31px;
  padding: 0 28px;
}
.time-box .more-btn:hover {
  background-color: #e4666a;
  color: #fff;
}
.time-box .left {
  display: inline-block;
  position: relative;
  width: 65%;
}
.time-box .left img {
  position: absolute;
  z-index: -100;
  width: 100%;
}
.time-box .left-content {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 22px;
  padding-top: 132px;
  color: #fff;
}
.time-box .left-content h3 {
  font-size: 50px;
  font-family: 'Microsoft YaHei';
  font-weight: 500;
}
.time-box .left-content h2 {
  font-size: 158px;
  line-height: 168px;
  font-family: 'Microsoft YaHei';
  font-weight: 500;
}
.time-box .left-content p {
  font-size: 22px;
  line-height: 44px;
}
.time-box .right {
  display: inline-block;
  position: relative;
  width: 35%;
  font-size: 22px;
}
.time-box .right::before {
  content: ' ';
  width: 26px;
  height: 31px;
  display: block;
  position: absolute;
  left: -25px;
  top: 30px;
  background: url("imgs/left-triangle.png") 0 0 no-repeat;
}
.time-box .right-content {
  padding: 0 70px;
  text-align: center;
}
.time-box .right-content h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
.time-box .right-content span {
  color: #e4666a;
}
.time-box .right-content p {
  font-size: 12px;
  line-height: 30px;
  color: #aaa;
  text-align: left;
  margin-bottom: 50px;
}
.about-us-box {
  height: 521px;
  font-size: 0;
}
.about-us-box > div {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.about-us-box .about1 {
  width: 30%;
  padding-top: 170px;
  height: 351px;
  background-color: #e74f4d;
}
.about-us-box .about1 p {
  color: #fff;
}
.about-us-box .about1 p::after {
  content: ' ';
  display: block;
  margin: 24px auto;
  width: 30px;
  border-bottom: 2px solid #fff;
}
.about-us-box .about1 .more-btn {
  border: 1px solid #fff;
  color: #fff;
}
.about-us-box .about2 {
  width: 30%;
  padding-top: 170px;
  height: 351px;
}
.about-us-box .about2 p::after {
  content: ' ';
  display: block;
  margin: 24px auto;
  width: 30px;
  border-bottom: 2px solid #abaaaa;
}
.about-us-box .about2 .more-btn {
  border: 1px solid #e74f4d;
  color: #e74f4d;
}
.about-us-box p {
  font-size: 21px;
  line-height: 32px;
}
.about-us-box .more-btn {
  display: inline-block;
  font-size: 21px;
  line-height: 42px;
  letter-spacing: 2px;
  text-indent: 2px;
  font-family: 'Microsoft YaHei';
  padding: 0 45px;
}
.about-us-box .about-img {
  position: relative;
  width: 40%;
  height: 521px;
  overflow: hidden;
}
.about-us-box .about-img img {
  width: 100%;
}
.about-us-box .about-img::before {
  content: ' ';
  display: block;
  width: 26px;
  height: 31px;
  position: absolute;
  left: -2px;
  top: 50%;
  background: url("imgs/right-triangle.png") 0 0 no-repeat;
}
/*join-box*/
.join-box {
  padding: 119px 0 156px;
  text-align: center;
  font-size: 0;
}
.join-box > h2 {
  font-size: 21px;
  line-height: 40px;
  font-family: '黑体';
  font-weight: 500;
}
.join-box > h2::after {
  content: ' ';
  display: block;
  margin: 0 auto 12px;
  width: 32px;
  border-bottom: 2px solid #e7504d;
}
.join-box > p {
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 100px;
}
.join-info {
  display: inline-block;
  width: 40%;
  text-align: left;
}
.join-info .info-item {
  padding: 0 20px 0 130px;
  margin-bottom: 36px;
  color: #231815;
}
.join-info .info-item h2 {
  font-size: 14px;
  margin-bottom: 18px;
  font-weight: 500;
  opacity: 0.8;
  font-family: '黑体';
}
.join-info .info-item p {
  font-size: 12px;
  opacity: 0.6;
  font-family: '宋体';
}
.join-info .more-link {
  float: right;
  font-size: 12px;
}
.join-info .more-link::before {
  content: 'ˇ';
  position: relative;
  top: 5px;
  right: 5px;
}
.join-info .more-link::after {
  content: ' ';
  display: block;
}
.join-form {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
.join-form .w310 {
  width: 310px;
}
.join-form .mr20 {
  margin-right: 20px;
}
.join-form .w640 {
  width: 640px;
  max-width: 640px;
}
.join-form input,
.join-form textarea {
  font-size: 12px;
  font-family: '宋体';
  line-height: 40px;
  text-indent: 0.8em;
  margin-bottom: 15px;
  border: none;
  background-color: #ededee;
}
.join-form input:focus,
.join-form textarea:focus {
  outline: none;
}
.join-form input[type=submit] {
  font-size: 14px;
  font-family: '黑体';
}
/*footer*/
footer {
  background-color: #32353e;
  color: #fff;
  text-align: center;
}
footer h2 {
  font-size: 21px;
  font-family: '黑体';
  line-height: 44px;
  padding-top: 90px;
}
footer > p {
  font-size: 12px;
  font-family: '宋体';
  line-height: 18px;
  padding-bottom: 30px;
}
.email-box {
  font-size: 0;
  margin-bottom: 34px;
}
.email-box input {
  display: inline-block;
  font-family: 'Microsoft YaHei';
  height: 40px;
  line-height: 40px;
  border: none;
}
.email-box input:focus {
  outline: none;
}
.email-box input[type=email] {
  color: #aaa;
  font-size: 14px;
  text-align: left;
  text-indent: 0.8em;
  width: 430px;
  background-color: #fff;
}
.email-box input[type=submit] {
  position: relative;
  top: 1px;
  font-size: 15px;
  color: #fff;
  width: 82px;
  background-color: #6f7178;
}
.email-box input[type=submit]:active {
  background-color: #57595e;
}
.icon-box {
  font-size: 0;
  padding-bottom: 68px;
}
.icon-box a {
  display: inline-block;
  font-size: 12px;
  height: 29px;
  margin: 0 15px;
}
.icon-box .qq-icon {
  width: 24px;
  background: url("imgs/footer-icon-sprite.png") -24px 0 no-repeat;
}
.icon-box .weibo-icon {
  width: 29px;
  background: url("imgs/footer-icon-sprite.png") -72px 0 no-repeat;
}
.icon-box .twitter-icon {
  width: 30px;
  background: url("imgs/footer-icon-sprite.png") -101px 0 no-repeat;
}
.icon-box .www-icon {
  width: 24px;
  background: url("imgs/footer-icon-sprite.png") 0 0 no-repeat;
}
.copyright {
  height: 58px;
  padding: 0 40px 0 100px;
  background-color: #303039;
  font-size: 12px;
  font-family: '宋体';
}
.copyright p {
  margin-top: 32px;
  float: left;
}
.copyright a {
  margin-top: 32px;
  float: right;
  color: #fff;
}
