@import (less) "../../../css/common.css";

.hover-box {
  transition: all 1s;
  position: relative;
  background: url("../img/task1.jpg") center no-repeat;
  width: 504px;
  height: 300px;
  filter: blur(0px);
  .content {
    text-align: center;
    z-index: 100;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 12px;
    h2 {
      word-break: keep-all;
      background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%, #ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);
      font-size: 24px;
      color: transparent;
      -webkit-background-clip: text;
      animation: titleColor 6s infinite;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      animation: pColor 3s infinite linear;
    }
  }
  &:hover {
    filter: blur(5px)
  }
}

@keyframes pColor {
  0% {
    color: #00f;
  }
  50% {
    color: #0f0;
  }
  100% {
    color: #00f;
  }
}
@keyframes titleColor {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 240px;
  }
}